<app-header titulo="Registro de Usuario"></app-header>

<ion-content>
  <ion-button routerLink="/inicio">Ver Inicio</ion-button>
  <ion-button routerLink="/registro-de-egresos">Ver Registro de Egresos</ion-button>
  <ion-button routerLink="/listar-usuarios">Ver Listar Usuarios</ion-button>
  <ion-button routerLink="/listar-egresos">Ver Listar Egresos</ion-button>
  

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Registra aquí algún usuario nuevo</ion-card-subtitle>
        <ion-card-title>Registro de Usuario</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nombre:</ion-label>
          <ion-input type="text" name="nombre" [(ngModel)]="datos_formulario.nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellido:</ion-label>
          <ion-input type="text" name="apellido" [(ngModel)]="datos_formulario.apellido"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Rut:</ion-label>
          <ion-input type="text" name="rut" [(ngModel)]="datos_formulario.rut"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Correo:</ion-label>
          <ion-input type="text" name="correo" [(ngModel)]="datos_formulario.correo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña:</ion-label>
          <ion-input type="text" name="password" [(ngModel)]="datos_formulario.password"></ion-input>
        </ion-item>
        <ion-button (click)="enviarDatos()" expand="full">Registrar</ion-button>

  </ion-card-content>
  </ion-card>

</ion-content>