<app-header titulo="Registro de Egresos"></app-header>

<ion-content>
  <ion-button routerLink="/inicio">Ver Inicio</ion-button>
  <ion-button routerLink="/registro-de-usuario">Ver Registro de Usuario</ion-button>
  <ion-button routerLink="/listar-usuarios">Ver Listar Usuarios</ion-button>
  <ion-button routerLink="/listar-egresos">Ver Listar Egresos</ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Registra aquí algun nuevo egreso!</ion-card-subtitle>
      <ion-card-title>Registro de Egresos</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Descripci&oacute;n:</ion-label>
        <ion-input type="text" name="descripcion" [(ngModel)]="datos_formulario.descripcion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Precio:</ion-label>
        <ion-input type="text" name="precio" [(ngModel)]="datos_formulario.precio"></ion-input>
      </ion-item>

      <ion-button (click)="enviarDatos()" expand="full">Registrar</ion-button>
</ion-card-content>
</ion-card>

</ion-content>
