<app-header titulo="Listar Usuarios"></app-header>

<ion-content>
  <ion-button routerLink="/inicio">Ver Inicio</ion-button>
  <ion-button routerLink="/registro-de-usuario">Ver Registro de Usuario</ion-button>
  <ion-button routerLink="/registro-de-egresos">Ver Registro de Egresos</ion-button>
  <ion-button routerLink="/listar-egresos">Ver Listar Egresos</ion-button>

    
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Aquí se encuentra la lista de todos los usuarios ingresados al sistema</ion-card-subtitle>
        <ion-card-title>Listar Usuarios</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label>Dato 1</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Dato 2</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Dato 3</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Dato 4</ion-label>
          <ion-input></ion-input>
        </ion-item>
  </ion-card-content>
    </ion-card>



  
</ion-content>
